.nav-item {
  color: var(--bs-primary) !important;
  text-align: center;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: var(--bs-primary) !important;
  font-weight: 800;
  text-transform: uppercase;
}

.site-heading .site-heading-lower {
  font-size: 8rem;
  font-weight: 100;
  line-height: 8rem;
}

.logo {
  max-height: 50px;
  width: auto;
  height: auto;
  object-fit: contain;
}

#mainNav {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
}

.navbar-brand {
  padding: 0;
}

.cta .cta-inner:before {
  border: .25rem solid #008035;
}

.cta .cta-inner:before {
  border: .25rem solid rgba(0,128,53,0.8);
}

@media (min-width: 992px) {
  .page-section.mt-md-5 {
    margin-top: 1rem;
    margin-bottom: 11rem;
  }
}

@media (min-width: 1200px) {
  .page-section.mt-md-5 {
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
}

/* Footer */

.footerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redesDiv {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 576px) {
  .redesDiv {
    justify-content: right;
  }
}

.footer {
  background-color: rgba(230,96,9,0.9);
}

@media (min-width: 576px) {
  .leftText {
    text-align: left;
  }
}

@media (min-width: 576px) {
  .rightText {
    text-align: right;
  }
}

#footerRow {
  flex-direction: column;
}

@media (min-width: 576px) {
  #footerRow {
    flex-direction: row;
  }
}

/* End of footer */

.section-heading-lower {
  font-size: 2.5rem !important;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  width: 100%;
}

/* Servicios */

@media (min-width: 992px) {
  .col-md-4 {
    width: 18% !important;
  }
}

.col-md-4 {
  width: 100%;
  flex: 0 0 auto;
}

.servicios-icon {
  text-align: center;
  font-size: 50px;
  background-color: #0ea0ff;
  color: #fff;
  height: 7rem;
  width: 7rem;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
  padding: 1.1rem;
}

.row {
  gap: 1rem;
}

/* Fin de servicios */

/* Filtro de plantas */

.site-heading-upper {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

#filtros {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}

input {
  width: 100%;
}

